.color-change-2x {
    -webkit-animation: color-change-2x 5s linear infinite alternate both;
    animation: color-change-2x 5s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}